body{
    font-family: 'Inter', sans-serif;
    color: #050505;

}

#hero {
    background-color: #aaa8a8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-weight: 800;
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 14%);
}

h2{
    font-weight: 800;
    font-size: 2,6rem;
}

h4{
    font-weight: 600;

}

.boton-azul {
    background-color: #292929;
    color:#ffffff;
}

#aliados{
    background-color: #292929 ;
}

.caja-aliados{
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -1px 2px 9px #000;  
    

}

.logo_call-line {
    width: 80px;

}

.fa, .fas {
    font-weight: 150px;
    color: rgb(255, 255, 255);
}

.color-azul {
    background-color: #000000;
    color: white;
}

.color-azul-claro {
    background-color: #292929 ;
     ;
}

#caracteristicas {
    background-color: #aaa8a8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#testimonios {
    background-color: #292929 ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.caja-testimonios {
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -1px 2px 9px #000; 
}

#footer {
    background-color: #292929 ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}